.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
  }
  
  .welcome-text {
    margin-bottom: 20px;
  }
  
  .zoo-image-container {
    width: 100%;
  }
  
  .zoo-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
  @media (min-width: 768px) {
    .zoo-image {
      max-width: 50%;
    }
  }